/* CSS untuk halaman login */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #C8FFC0; /* Warna hijau muda */
}

form {
    background-color: #ffffff; /* Warna putih untuk latar belakang form */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #356A35; /* Warna hijau */
}


form h2 {
    color: #356A35; /* Warna hijau untuk judul */
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #356A35; /* Border hijau */
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #356A35; /* Warna hijau untuk tombol */
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #2a5232; /* Hijau lebih gelap saat di-hover */
}

input:focus,
button:focus {
    outline: none;
    border: 1px solid #2a5232;
}

/* Styling untuk notifikasi */
.notification {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.notification.success {
    color: #ffffff;
    background-color: #356A35; /* Warna hijau untuk pesan sukses */
}

.notification.error {
    color: #ffffff;
    background-color: #ff5c5c; /* Warna merah untuk pesan error */
}
